<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="common/header::html('属性管理')">
    <meta charset="UTF-8">
</head>
<body>
<div th:replace="admin/category/navigator::html"></div>
<div id="app">
    <ol class="breadcrumb">
        <li><a href="listCategory">所有分类</a></li>
        <li><a :href="'propertyList?categoryId='+categoryBean.id">{{categoryBean.name}}</a></li>
        <li class="active">属性管理</li>
    </ol>
    <div class="listDataTableDiv">
        <table class="table table-striped table-bordered table-hover  table-condensed">
            <thead>
            <tr class="success">
                <th>ID</th>
                <th>属性名称</th>
                <th>编辑</th>
                <th>删除</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="item in propertyList">
                <td>{{item.id}}</td>
                <td>
                    {{item.name}}
                </td>
                <td>
                    <a href="#nowhere" @click="editProperty(item.id)" ><span class="glyphicon glyphicon-edit"></span></a>
                </td>
                <td>
                    <a href="#nowhere" @click="deleteProperty(item.id)" ><span  class="glyphicon glyphicon-trash"></span></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="block">
        <div id="page" style="position: relative;left: 642px; ">
            <span class="demonstration">分页</span>
            <el-pagination
                    layout="prev, pager, next"
                    :total="50"
                    :page-size=pageSize
                    :current-page=pageIndex
                    @current-change="changeCurretnIndex"
            ></el-pagination>
        </div>
    </div>
    <div class="panel panel-warning addDiv">
        <div class="panel-heading">新增属性</div>
        <div class="panel-body">
            <table class="addTable">
                <tr>
                    <td>属性名称</td>
<!--                    警告：vue自带的属性绑定标签（比如v-model）不用就不要预先写好还给它的空值！！！-->
                    <td><input  v-model.trim="property.name" type="text" class="form-control"></td>
                </tr>
                <tr class="submitTR">
                    <td colspan="2" align="center">
                        <a href="#nowhere" @click="addProperty" class="btn btn-success">提交</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div th:replace="admin/category/footer::html"></div>
</body>
<script>
    var vm = new Vue({
        el: '#app',
        data: {
            categoryId: [[${id}]],
            pageIndex: 1, //分页的当前页数
            pageSize: 5, //分页的容量
            categoryBean: {
                name:'',
                id:null
            },
            propertyList: [],
            property:{
                name:'',
                id:null,
            }
        },
        mounted: function () {
            this.$nextTick(
                function () {
                    vm.getCategory(vm.categoryId);
                    vm.pageProperty(1);
                });
        },
        methods: {
            editProperty(id){
                layer.open({
                    type: 2,
                    title:false,
                    closeBtn: 2,
                    shade: [0],
                    area: ['500px', '300px'],
                    anim: 2,
                    content: ['editProperty?id='+id, 'no'],
                    end: function(){
                        vm.pageProperty(1);
                    }
                })
            },
            deleteProperty(id){
                $.ajax({
                    type:'delete',
                    url:'property/'+id,
                    success:function (res) {
                        alert(res.msg);
                        vm.pageProperty(1);
                    }
                });
            },
            addProperty(){
                if (!checkEmpty(vm.property.name,'属性名称')){return}
                $.post({
                    url:'property',
                    data:{
                         name:vm.property.name,
                        categoryId:vm.categoryBean.id
                    },
                    success:function (res) {
                        vm.pageProperty(1);

                    }
                });
            }
            ,
            changeCurretnIndex(curretnIndex) {
                //回调函数自动传入curretnIndex的参数
                vm.pageIndex = curretnIndex;
                vm.pageProperty(vm.pageIndex)
            },
            pageProperty(index) {
                $.get({
                    url: 'propertyPage',
                    // async:false,
                    data: {
                        id:vm.categoryId,
                        pageIndex: index,
                        size: vm.pageSize
                    },
                    success: function (res) {
                        vm.propertyList = res.data.content;
                    }
                });
            },
            getCategory(categoryId) {
                $.get({
                    url: 'category',
                    data: {
                        id:categoryId
                    },
                    success: function (res) {
                        vm.categoryBean = res.data;

                    }
                });
            }
        }
    });
</script>
</html>